# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/*

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds
.fvm/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/.idea/
**/android/app/debug
**/android/app/profile
**/android/app/release
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/

# Submodules
packages/**/pubspec.lock

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to the above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
!.vscode/extensions.json
!.vscode/launch.json
!.idea/codeStyles/
!.idea/dictionaries/
!.idea/runConfigurations/
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/58v6y1w4/x86/additional_project_files.txt
/android/app/.cxx/Debug/58v6y1w4/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/58v6y1w4/x86/android_gradle_build.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/58v6y1w4/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/build.ninja
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/58v6y1w4/x86/build.ninja
/android/app/.cxx/Debug/58v6y1w4/x86_64/build.ninja
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/58v6y1w4/x86/build_file_index.txt
/android/app/.cxx/Debug/58v6y1w4/x86_64/build_file_index.txt
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/reply/cache-v2-4c348ea499c85c77fb1c.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/reply/cache-v2-43a2223626a55d217c4c.json
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/reply/cache-v2-4729fd741a8d83338954.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/reply/cache-v2-e8f5159ad074a7254905.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/58v6y1w4/x86/cmake_install.cmake
/android/app/.cxx/Debug/58v6y1w4/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeCache.txt
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-0a77087485023cb78abe.json
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/reply/cmakeFiles-v1-14d9a1dad49f4240bd27.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-34a2e20b8cb9789f2d82.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-f211ad18e26d78c58fd5.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-6a67aff4dbbfe8c07f6d.json
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-a0a13785fc6b218fc2de.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/reply/codemodel-v2-ef1d5b15dbc0e3947244.json
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/reply/codemodel-v2-f0af69cebf5f715f71f7.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/58v6y1w4/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/58v6y1w4/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/58v6y1w4/hash_key.txt
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/.cmake/api/v1/reply/index-2025-05-21T07-46-11-0039.json
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/.cmake/api/v1/reply/index-2025-05-21T07-46-19-0438.json
/android/app/.cxx/Debug/58v6y1w4/x86/.cmake/api/v1/reply/index-2025-05-21T07-46-20-0256.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/.cmake/api/v1/reply/index-2025-05-21T07-46-21-0048.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/58v6y1w4/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/58v6y1w4/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/58v6y1w4/x86/prefab_config.json
/android/app/.cxx/Debug/58v6y1w4/x86_64/prefab_config.json
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/58v6y1w4/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/58v6y1w4/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/58v6y1w4/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/58v6y1w4/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/58v6y1w4/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/58v6y1w4/x86_64/CMakeFiles/TargetDirectories.txt
